.header {
    padding-top: 10px;
}

.header nav {
    text-decoration: none;
}

li {
    list-style-type: none;
}

.header-nav {
    display: flex;
    justify-content: left;
    align-items: center;

}

.header-nav li {
    width: 80px;
    height: 30px;
    border: 1px solid grey;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-right: 4px;
    &:hover{
        background: dodgerblue;
    }
}