body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  width: 100%;
}
#root{
  overflow-y: hidden;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

input {
  width: 100px;
  height: 24px;
  border: 1px solid grey;
  outline: none;
  color: black;
  margin-right: 16px;
  border-radius: 2px;
  padding: 0 8px;
}

input[type="submit"] {
  background: white;
  height: 28px;
  border-radius: 2px;

  &:hover {
    background: dodgerblue;
  }
}

.pages {
  height: 100vh;
}

.link, a {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 860px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.container-flex {
  display: flex;
}

.margin--bottom {
  margin-bottom: 32px;
}
